
.background_color {
  background-color: grey;
}

  .yellow-text {
    font-family: Lobster Two;
    color: lightyellow;
    text-align: center;
    font-size: 17px;
  }

.big-yellow-text{
  font-family: Lobster Two;
  color: lightyellow;
  text-align: center;
  font-size: 26px;
}


  .blue-border {
    border-color: lightblue;
    border-width: 10px;
    border-style: solid;
    border-radius: 40%;
  }

  .smaller-image {
    width: 300px;
    height: 350px;
  }

.smallest-image {
  width: 200px;
  height: 250px;
  float: right;
}
