{% extends "layout.html" %}

{% block content %}
  <h2 class="big-yellow-text" id = "homepage"><a href = "http://127.0.0.1:5000/portfolio">
  Click here to go to an awkward portfolio!</a></h2>
{% endblock %}
