{% extends "layout.html" %}


{% block content %}
<div>
      <center>
        <h2 class="big-yellow-text">Sarah Warren</h2>

            <a href="http://www.belhaven.edu/academics/computer-science/students-sarah.htm">
              <img class="smaller-image blue-border"
                    src="http://www.belhaven.edu/images/spotlights/2017/sarah-warren.jpg"
                    alt="Sarah smiling awkardly as she debates her life " />
            </a>
        </center>
  </div>

<div>
  <center>
        <p class = "big-yellow-text">
          Navigation</p>
        <ul class = "yellow-text list-unstyled">
          <li><a class = "yellow-text" href = "http://127.0.0.1:5000/"> Go back to homepage</a></li>
          <li><a class = "yellow-text" href = #sarah-bio> Go to Sarah's bio</a></li>
          <li><a class = "yellow-text" href = #fluent-langs> Go to fluent languages</li>
          <li><a class = "yellow-text" href = #favorite-pages> Go to favorite websites</a></li>
        </ul>
  </center>
</div>


<div>
<center>
    <p class = "big-yellow-text" id = "sarah-bio">
      Sarah's Bio </p>
    <p class = "yellow-text">
  Computer Science Major, music minor, lover of puns, dogs, and running.
  Sarah Warren is a sophmore pursuing a Computer Science major at Belahven
  University. Click the main picture above to see her student highlight by
  Belhaven.
    </p>
  </center>
</div>


<div>
  <center>
    <a href="https://www.instagram.com/_thevikingninja/?hl=en">
      <img class = "smallest-image blue-border"
           src="https://scontent-dft4-1.xx.fbcdn.net/v/t31.0-8/20901314_1528964217194736_5263062903453842646_o.jpg?oh=7d10cbbbcb375af60cf10bd9862f53aa&oe=5A3E1AB5"
           alt="Sarah's awkward.  Go follow her on instagram">
     </a>
  </center>
</div>


  <div>
      <center>
        <p class="yellow-text">
          Sarah was born on April 25, 1998 in Brookfield, WI.  Following
          her shortly afterwards were her siblings Caroline, Rebecca, and
          David.  In October of 2002, they moved to New Orleans.  In April
          of 2005, Laura, Sarah's youngest sister, was born. During
          Katrina, Sarah's family evacuated,but left her father, an NOPD
          police officer, behind to help the city. Their house was not
          effected, but their family still holds scars from what Katrina
          did to her father and family. About 12 years later, Sarah
          discovered her love of coding through a local college that was
          giving a seminar on technology. She attended twice and started
          coding during the summer to learn more about this mystical
          major. At the beginning of her senior year in highschool, Sarah
          visited her best friend who attended to Belhaven University. She
          immediately fell in love with the campus, and the following year
          started her brand new journey as a Computer Science Major.
          Please click the picture to the right to see her Instagram page.
        </p>
      </center>
   </div>

    <div>
      <center>
          <a href = "https://www.facebook.com/sarah.warren.54966">
            <img class="smallest-image blue-border"
                 src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/21231884_1788017284560782_1613359212681452131_n.jpg?oh=7c2d641bda125b2e4aa2598b79e7e33c&oe=5A433EED"
                 alt="Sarah smiling awkardly for senior pics ">
          </a>
          <p class = "big-yellow-text" id = "fluent-langs">
            Sarah's fluent in:
          </p>
          <ul class="big-yellow-text list-unstyled">
            <li> Python </li>
            <li> HTML5 </li>
            <li> CSS/Bootstrap </li>
            <li> German </li>
            <li> Spanish </li>
            <li> Sarcasm </li>
          </ul>
         </p>
        </center>
       </div>

  <div>
    <center>
      <p class = "big-yellow-text" id = "favorite-pages">
        Sarah's Favorite Websites </p>

     <a href="https://www.netflix.com/">
       <img class="smaller-image img"
            src=https://lh3.googleusercontent.com/PqdUI8zhIEY8hnmjqk6vNCT2vcERIw67LmjE0iltwlnbtH2Zvzpt7zr_MrrzfkmYuynRlk4T5Q=w640-h400-e365
            alt = "I love Netflix">
      </a>
      <a href = "https://www.biblegateway.com/">
        <img class = "smaller-image"
              src = https://upload.wikimedia.org/wikipedia/en/c/c5/BibleGateway_Homepage.png
             alt = "Bible Gateway is phenominal"></a>
    </center>
  </div>

{% endblock %}
